@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --vermelho: #e50914;
  --preto: #141414;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* Base */

body {
  font-family: "Poppins", sans-serif;
  background: var(--preto);
  color: #fff;
  font-size: 16px;
}
.container{
  margin: 0 1.5rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  color: var(--vermelho);
  font-size: 40px;
}
header .container nav a {
  color: #aaa;
  margin-left: 10px;
  transition: 0.5s ease all;
}
header .container nav a:hover {
  color: #fff;
}

/* Filme Principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)100%), url('../img/capa-house.jpg');    
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.filme-principal .container{
  width: 70%;
}
.filme-principal .description{
    margin-bottom:1rem;
    margin-top: .4rem;

}
.titulo{
    font-size: 3rem;
    font-weight: 500;
    margin-top: .5rem;
}
.filme-principal .buttons .button{
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    border:none;
    cursor: pointer;
    background-color: rgb(0,0,0,0.5);
    outline: none;
    color: #fff;
    margin-right: 1rem;
    font-size: .7rem;
    transition: .5s ease all;
}
.filme-principal .buttons button:hover{
  background-color: #fff;
  color: black;
}
.fas{
  margin-right: .2rem;
}

.box-filme{
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}
.carrosel-filmes{
  margin-top: .5rem;
}