@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --vermelho: #e50914;
  --preto: #141414;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--preto);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  color: var(--vermelho);
  font-size: 40px;
}
header .container nav a {
  color: #aaa;
  margin-left: 10px;
  transition: 0.5s ease all;
}
header .container nav a:hover {
  color: #fff;
}
